.reviewslist {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
}
.reviewpart {
  width: 100%;
}
.reviewabout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.author {
  font-size: 20px;
}
.content {
  font-size: 18px;
}
.warning {
  font-size: 20px;
}
.authorcont {
  display: flex;
  gap: 7px;
  align-items: center;
}
.imgauthor {
  filter: invert(1) brightness(2);
}
